@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 6px;
}
::selection{
  background-color:black;
  color:white;
}

::-webkit-scrollbar-track {
  background: black;
}


::-webkit-scrollbar-thumb {
  background: #555;

  transition: 1s ease-in;
}


::-webkit-scrollbar-thumb:hover {
  background: rgb(40, 155, 175);
}

.loader_bg {
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before,
.loader::after {
  content: "";
  border: 1em solid cyan;
  border-radius: 100px;
  border: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before {
  animation-duration: 0.5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

nav {
  font-family: "Lato", sans-serif;
  position: sticky;
  top: 0;
}

#inner-nav {
  animation: slideright 2s linear backwards;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  z-index: 1;
}
@keyframes slideright {
  0% {
    transform: translate(0px, -100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
#inner-nav li {
  padding: 0px 15px;
}
#inner-nav li i {
  font-size: 20px;
  filter: blur(0.5px);
  cursor: pointer;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.red {
  color: red;
}
nav li a i:hover {
  transform: scale(1.2);
  color: white;
}
nav li a i:active{
  transform: scale(0.8);
}
nav a.active {
  color: white;
}

.yellow {
  color: orange;
}
.green {
  color: green;
}

#home {
  display: flex;
  flex-wrap: initial;
  margin-top: -60px;
  animation: homerun 0.7s;
  animation-delay: 1.2s;
 background:linear-gradient( black 10%, #1A98A5 100%);
}
@keyframes homerun {
  0% {
    transform: translate(-600px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

.home-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dev-pic img {
  height: 40vh;
  margin-bottom: 10px;
}

.dev-pic {
  margin-left: 10rem;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
}
.info {
  flex-wrap: wrap;
  color: white;
  display: flex;
  margin: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-family: "Noto Serif", serif;
}
.info h2 {
  font-size: 80px;
}
.info h1 {
  color: rgb(40, 155, 175);
  font-size: 90px;
}
.info h3 {
  color: rgb(203, 199, 199);
  font-size: 30px;
}
@keyframes slideup {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
.info h1,
.info h2,
.info h3 {
  max-width: 40ch;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.info h1,
.info h2,
.info h3 {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.info h1 {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation-delay: 1.5s;
}

.info h2 {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation-delay: 1.5s;
}

.info h3 {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation-delay: 1.5s;
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
#spin {
  font-size: 80px;
}
#spin:after {
  content: "Som";
  animation: spin 20s linear infinite;
}
@keyframes spin {
  0% {
    content: "Som";
  }

  100% {
    content: "Vector";
  }
}

#about {
  background:linear-gradient( #3ea1ac 10%, #b65151 100%);
}

.about-container {
  display: flex;
  flex-wrap: initial;
  flex-direction: column;
  max-width: 60%;
  flex-wrap: wrap;
  margin: 0 auto;
  color: white;
  padding: 30px;
}
.about-paragraph {
  font-family: monospace;
}
.about-container h1 {
  padding-top: 3vh;
  color: rgb(40, 155, 175);
  font-size: 85px;
}
.about-container h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-top: 10px;
  font-weight: 550;
  font-size: 25px;
}
.about-paragraph h4 {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  line-break: normal;
}
.about-paragraph a {
  text-decoration: none;
  color: rgb(40, 155, 175);
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.reveal1 {
  position: relative;
  opacity: 0;
  transform: scale(0.95);
  transition: 1s ease-in;
  filter: blur(4px);
}

.reveal1.active {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
}

.reveal2 {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal2.active {
  transform: translateX(0);
  opacity: 1;
}
.reveal3 {
  position: relative;
  transform: translateY(70px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal3.active {
  transform: translateY(0);
  opacity: 1;
}

.reveal4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
  font-family: monospace;
}

.reveal4.active, .reveal4 a {
  transform: translateY(0);
  opacity: 1;
  animation: 8s colorchange ease-in-out infinite;
}
@keyframes colorchange{
  0%{
    color: rgb(13, 202, 202);
  }
  50%{
    color: rgb(27, 122, 122);
  }
  100%{
    color: rgb(13, 202, 202);
  }
}
.reveal4 a:hover{
  transform: scale(1.05);
  animation: none;
}
#myBtn {
  transition: 0.3s ease-in;
  display: none; 
  position: fixed;
  bottom: 20px; 
  right: 40px; 
  z-index: 99; 
  border: none; 
  outline: none;
  background-color: black;
  border: 2px solid white;
  color: white;
  box-shadow: 1px 1px 10px cyan;
  cursor: pointer; 
  padding: 15px 20px;
  border-radius: 70px; 
  outline: white;
  font-size: 18px; 
}

#myBtn:hover {
  scale: 1.1;
  background-color: white; 
  color: black;
}
#myBtn:active{
  scale: 0.8;
}
.spotify {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  padding-top: 7vh;
  padding-bottom: 10vh;
  padding-left: 20px;
}

.playlist-text {
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-right: 130px;
}
.spotify a {
  width: 40%;
}
.spotify img {
  transition: 0.4s ease-in;
  width: 100%;
}
.spotify img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px cyan;
}

#work {
  background: linear-gradient(#b65151 ,rgb(40, 155, 175) 80%,rgb(40, 155, 175) 100%);
}

.work-container {
  display: flex;
  flex-wrap: initial;
  flex-direction: column;
  margin: 0 auto;
  color: white;
  padding: 30px;
  max-width: 60%;
}
.work-container h1 {
  padding-top: 3vh;
  color: rgb(40, 155, 175);
  padding: 5px; 
  font-size: 85px;
}
.work-container a{
  cursor: pointer;
  padding-top: 3vh;
  transition: 0.4s ease-in-out;
  color: rgb(12 82 155);
  padding: 5px;
  font-size: 40px;
}

.tech {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px;
}
.tech h2 {
  font-family: monospace;
  font-size: 35px;
  width: auto;
  font-weight: 700;
}
.bg-black{
  background-color: black;
}
.tech li {
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 20px;
}
.tech span {
  font-family: monospace;
  font-weight: 500;
  line-height: 35px;
  font-size: 20px;
}
.lang {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 10px;
}
.lang img {
  width: 90px;
  margin: 20px;
  border-radius: 550px;
  transform: translatey(0px);
  z-index: -1;
  animation: float 6s ease-in-out infinite;
      box-shadow: 0 5px 15px 0px black;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 5px 15px 0px mediumvioletred;
    transform: translatey(-5px);
  }
  100% {
    box-shadow: 0 5px 15px 0px black;
    transform: translatey(0px);
  }
}

.hello {
  position: relative;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}
.hello_img {
  filter: brightness(0.9);
  width: 100%;
}

.hello img {
  transition: transform 0.7s ease;
}
.hello:hover img {
  transform: scale(1.1);
}

.hello__overlay {
  text-align: center;
  border-radius: 30px;
  box-shadow: 1px 1px 15px cyan;
  position: absolute;
  top: 0;
  border-radius: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(86, 116, 124, 0.652);
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  backdrop-filter: blur(3px);
}

.hello__overlay > * {
  transform: translateY(50px);
  transition: transform 0.3s;
}

.hello__overlay:hover {
  opacity: 1;
}

.hello__overlay:hover > * {
  transform: translateY(0);
}

.hello__title {
  color: cyan;
  font-size: 2em;
  font-weight: bold;
}
.hello__heading {
  color: red;
  font-family: monospace;
  font-weight: 200;
  font-size: 1.3em;
}
.hello__description {
  font-family: "Noto Sans Mono", monospace;
  font-size: 1.25em;
  padding-top: 10px;
  max-width: 35em;
}

.project {
  padding-bottom: 100px;
}

.link-container {
  display: flex;
  position: relative;
}
.link-container a {
  color: white;
}
.link-container i {
  font-size: 30px;
}

#contact {
  background: linear-gradient( rgb(40, 155, 175) 10%, rgb(40, 155, 175) 10%, black 100%);
  flex-direction: row;
  display: flex;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  color: white;
  padding: 20px;
}
.contact-container h1 {
  max-width: 60%;
  color: rgb(40, 155, 175);
  padding: 5px;
  font-size: 85px;
}
.social-media {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
  flex-wrap: wrap;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
}
.socials a {
  color: white;
  transition: 0.3s ease-in;
}
.socials a:hover {
  color: rgb(40, 155, 175);
}
.socials i {
  padding-right: 20px;
  font-size: 40px;
}

.contact-container h2 {
  font-family: Arial, sans-serif;
  padding-top: 10px;
  padding-left: 9px;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 25px;
}

form {
  background-color: rgb(40, 155, 175);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px;
  border-radius: 10px;
}

form h5 {
  background-color: black;
  color: white;
  font-weight: 800;
  margin-bottom: 25px;
  font-size: 30px;
  font-family: monospace;
}

form input,
form textarea {
  border: 0;
  margin: 20px 0px;
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
  resize: vertical;
  background-color: transparent;
  border-bottom: 2px solid white;
  font-size: 20px;
  transition: 0.3s ease-in;
}
form input:focus,
form textarea:focus {
  border-bottom: 2px solid orange;
}

form button {
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 70px; 
  box-shadow: 1px 1px 10px cyan;
  border: 2px solid white;
  font-size: 16px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
  transition: 0.3s ease-in;
}

form button:hover {
  background-color: white;
  color: black;
}

.copyright {
  display: flex;
  padding: 20px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
}

.copyright p {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 799px) {
  form {
    padding: 30px;
  }
  .tech {
    padding: 0px;
  }
  .playlist-text {
    padding: 0px;
    margin-bottom: 40px;
  }
  .dev-pic {
    margin-left: 0;
  }
  .about-container {
    max-width: 100%;
  }
  .work-container {
    max-width: 100%;
  }
  .contact-container {
    padding: 0px;
  }
  .dev-pic {
    margin-left: 0;
  }
}
@media (max-width: 596px) {
  .spotify a {
    width: 90%;
  }
  .hello__description {
    display: none;
  }
  .lang{
    flex-wrap: wrap;
  }
}
.playlist-text h2 {
  color: rgb(40, 155, 175);
}

.project-heading {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 35px;
  margin-bottom: 40px;
}
.project-heading h3 {
  font-family: monospace;
  text-align: center;
  font-size: 40px;
}

#readingLink {
  display: inline-block;
  position: relative;
}
#readingLink:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.reveal span a:hover,.work-container a:hover,
#readingLink:hover:after {
  transform: scaleX(1.05);
  color: rgb(31, 200, 230);
  transform-origin: bottom left;
}
.loader_bg:after {
  content: "";
  position: absolute;
  height: 3px;
  top: 0;
  left: 0;
  animation: bar 1.6s linear forwards;
  background-color: rgb(162, 189, 196);
  box-shadow: 1px 1px 10px cyan;
  width: 100%;
}

@keyframes bar {
  0% {
    transform: scaleX(0);
    box-shadow: 1px 1px 10px rgb(18, 161, 161);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
svg {
  z-index: -1;
}
